## Activity 04: Use Pandas to compute the Mean, Median, and Variance

In this activity, you will consolidate the skills you've acquired in the last exercise and use Pandas to do some very basic mathematical calculations on our `world_population.csv` dataset.   
Pandas have a consistent API, so it should be rather easy to transfer your knowledge of the mean method to median and variance.    
Your already existing knowledge of NumPy will also help.

#### Loading the dataset

In [1]:
# importing the necessary dependencies
import pandas as pd

In [2]:
# loading the Dataset
dataset = pd.read_csv('./data/world_population.csv', index_col=0)

In [4]:
# looking at the first two rows of the dataset
dataset[:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

In [5]:
dataset.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

In [8]:
dataset.iloc[:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

---

### Notes:
Columns - axis= 1  
Rows - axis = 0
  
df.loc -> label names  
df.iloc -> integer pos

I _believe_ that as we are specifying axis, I need to use double brackets in iloc. [ValueError: No axis named 1 for object type Series]


if calling just one row, it is required to use double brackets, although using a range, [0:10], use only one

#### Mean

In [25]:
# calculate the mean of the third row
dataset.iloc[[2]].mean(axis=1) # considering all columns in numeric => COLUMN Dimension AXIS 1

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/417077488.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.iloc[[2]].mean(axis=1) # considering all columns in numeric => COLUMN Dimension AXIS 1

Country Name
Afghanistan    25.373379
dtype: float64

In [12]:
# calculate the mean of the last row
print(dataset.iloc[[-1]].mean(axis=1))

Country Name
Zimbabwe    24.520532
dtype: float64

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/3158355696.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(dataset.iloc[[-1]].mean(axis=1))

In [14]:
# calculate the mean of the country Germany
dataset.loc[['Germany']].mean(axis=1)

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/2726203949.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.loc[['Germany']].mean(axis=1)

Country Name
Germany    227.773688
dtype: float64

**Note:**   
`.iloc()` and `.loc()` are two important methods when indexing with Pandas. They allow making precise selections of data based on either the integer value index (`iloc`) or the index column (`loc`), which in our case is the country name column.

---

#### Median

In [16]:
# calculate the median of the last row
dataset.iloc[[-1]].median(axis=1)

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/1533885436.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.iloc[[-1]].median(axis=1)

Country Name
Zimbabwe    25.505431
dtype: float64

In [23]:
# calculate the median of the last 3 rows
dataset.iloc[-3:].median(axis=1)

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/2813659541.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.iloc[-3:].median(axis=1)

Country Name
Congo, Dem. Rep.    14.419050
Zambia              10.352668
Zimbabwe            25.505431
dtype: float64

**Note:**   
Slicing can be done in the same way as with NumPy.   
`dataset[1:3]` will return the second and third row of our dataset.

In [24]:
# calculate the median of the first 10 countries
dataset.iloc[:10].median(axis=1)

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/2681408386.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.iloc[:10].median(axis=1)

Country Name
Aruba                   348.022222
Andorra                 107.300000
Afghanistan              19.998926
Angola                    8.458253
Albania                 106.001058
Arab World               15.307283
United Arab Emirates     19.305072
Argentina                11.618238
Armenia                 105.898033
American Samoa          220.245000
dtype: float64

**Note:**   
When handling larger datasets, the order in which methods get executed definitely matters.   
Think about what `.head(10)` does for a moment, it simply takes your dataset and returns the first 10 rows of it, cutting down your input to the `.mean()` method drastically.   
This will definitely have an impact when using more memory intensive calculations, so keep an eye on the order.

---

#### Variance

In [36]:
import time

In [37]:
# calculate the variance of the last 5 columns
print(dataset.iloc[:,-5:].var(axis=1)) 
print('---')
toc=time.time()
print(dataset.iloc[:,-5:].var(axis=0)) # <<<<<<  thisone!
print(time.time()-toc)

Country Name
Aruba               12.919835
Andorra             66.783013
Afghanistan          3.414967
Angola               0.650507
Albania              0.029337
                      ...
Yemen, Rep.          2.525150
South Africa         0.851174
Congo, Dem. Rep.     1.753398
Zambia               0.680838
Zimbabwe             1.333264
Length: 264, dtype: float64
---
2012    3.063475e+06
2013    3.094597e+06
2014    3.157111e+06
2015    3.220634e+06
2016             NaN
dtype: float64
0.0017979145050048828

In [38]:
toc=time.time()

dataset.var().tail()
print(time.time()-toc)

0.013398170471191406

/var/folders/n5/2wsllrvs6h9862hcd58z1ybh0000gn/T/ipykernel_7051/2970426182.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.var().tail()

In [40]:
a=0.013398170471191406
b=0.0017979145050048828

print((b*100/a))

13.419104562602321

---

As mentioned in the introduction of Pandas, it's interoperable with several of NumPy's features.   
Here's an example of how to use NumPy's `mean` method with a Pandas DataFrame.

In [33]:
# NumPy Pandas interoperability
import numpy as np

print("Pandas", dataset["2015"].mean())
print("NumPy", np.mean(dataset["2015"]))

Pandas 368.7066010400187
NumPy 368.7066010400187